@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #35110f;
    outline: none;
}

body {
    background-color:aliceblue
}

#formContainer {
    background-image: url(./assets/join-us.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.form-check-input:checked {
    background-color: #d69960;
    border: none;
}

.form-check-input:focus {
    box-shadow: 0px 0px 2px 2px #eaba8a;
}

.btn {
    background-color: #eaba8a;
    border: 1px solid transparent;
    color: inherit;
}

.btn:focus {
    background-color: #db9e65;
}

.btn:hover {
    background-color: #d69960;
}

.btn:active {
    background-color: #db9e65;
}

.validation-message small {
    color: #b45052;
}